body{
    min-height: 100vh;
    margin: auto;
    background-color: rgba(54,54,54,255);
    /* background-color: rgb(255, 255, 255); */
   

}

.flytTitle{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 40px;
}

#modeBtn{
    background-color: rgba(54,54,54,255);
    outline: none;
    box-shadow: none;
    font-size: 20px;
} 

#modeBtn:hover{
    box-shadow: whitesmoke;
}

#btn-clearhistory{
    background-color: rgba(54,54,54,255);
}

